<div class="modal-header">
    <h3 class="modal-title">User Profile</h3>
</div>
<div class="modal-body">
    <pre>{{user}}</pre>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>