
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 0;
}

.sign-in-form {
    padding: 80px;
}

.toast-success {
    background-color: #13987e;
}

.toast-top-right {
    top: 80px;
}
