<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendor/angular-gridster/dist/angular-gridster.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/toastr/toastr.min.css" rel="stylesheet">


    <link href="app/app.css" rel="stylesheet">

    <link href="/yingFramework/yingFramework/yingFramework.css" rel="stylesheet">
    <link href="/yingFramework/yingMenu/yingMenu.css" rel="stylesheet">
    <link href="/yingFramework/yingDashboard/yingDashboard.css" rel="stylesheet">

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/vendor/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="/vendor/toastr/toastr.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="/yingFramework/yingMenu/yingMenuModule.js"></script>
    <script src="/yingFramework/yingMenu/yingMenuDirective.js"></script>
    <script src="/yingFramework/yingMenu/yingMenuController.js"></script>
    <script src="/yingFramework/yingMenu/yingMenuItemDirective.js"></script>
    <script src="/yingFramework/yingMenu/yingMenuGroupDirective.js"></script>

    <script src="/yingFramework/yingDashboard/yingDashboardModule.js"></script>
    <script src="/yingFramework/yingDashboard/yingDashboardDirective.js"></script>
    <script src="/yingFramework/yingDashboard/yingWidgetBodyDirective.js"></script>

    <script src="/yingFramework/yingFramework/yingFrameworkModule.js"></script>
    <script src="/yingFramework/yingFramework/yingFrameworkDirective.js"></script>
    <script src="/yingFramework/yingFramework/yingFrameworkController.js"></script>
    <script src="/app/yingFramework/yingUserProfile/yingUserProfileController.js"></script>
    <script src="/yingFramework/yingFramework/yingUserProfile/yingUserProfileDirective.js"></script>
    <script src="/yingFramework/yingFramework/yingUserProfile/yingUserProfileSmallDirective.js"></script>

    <script src="/app/appModule.js"></script>
    <script src="/app/appConfig.js"></script>
    <script src="/app/appRouteConfig.js"></script>
    <script src="/app/appController.js"></script>

    <script src="/app/yingFramework/yingUserProfile/userProfileDialogController.js"></script>
    <script src="/app/users/addUserDialogController.js"></script>
    <script src="/app/users/deleteUserDialogController.js"></script>
    <script src="/app/users/usersController.js"></script>
    <script src="/app/users/usersDirective.js"></script>
    <script src="/app/dashboard/dashboardDirective.js"></script>
    <script src="/app/dashboard/dashboardController.js"></script>
    <script src="/app/surveys/surveysDirective.js"></script>
    <script src="/app/surveys/surveysController.js"></script>


    <script src="/app/account/mvIdentity.js"></script>
    <script src="/app/common/mvNotifier.js"></script>
    <script src="/app/account/mvUser.js"></script>
    <script src="/app/account/mvAuth.js"></script>

    <title>2Be Survey App</title>
</head>
<body class="container-fluid" ng-app="app">
<div ng-switch="state" ng-controller="appController" ng-init="checkInit()">
    <div ng-switch-when="unauthorized" class="sign-in-form">
        <h2>2Be Survey App</h2>
        <h4>Sign In</h4>

        <form>
            <div class="form-group">
                <label>Email address</label>
                <input type="text" class="form-control" ng-model="email"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="password"/>
            </div>
            <div ng-show="loginErrorMessage">
                <div class="alert alert-danger" role="alert">
                    <span class="label label-danger">Error</span>
                    {{loginErrorMessage}}
                </div>
            </div>
            <button class="btn btn-default" ng-click="signIn(email, password)">Sign In</button>
        </form>
    </div>
    <div ng-switch-default>
        <ying-framework title="2Be Survey"
                        subtitle="2Be Study Group"
                        icon-file="/images/gremio.png">
            <ying-menu>
                <ying-menu-item label="Dashboard" icon="fa-dashboard" route="dashboard"></ying-menu-item>
                <ying-menu-item label="Users" icon="fa-user" route="users"></ying-menu-item>
                <ying-menu-item label="Surveys" icon="fa-question-circle" route="surveys"></ying-menu-item>
            </ying-menu>

        </ying-framework>
    </div>
</div>
</body>
</html>