<div class="modal-header">
    <h3 class="modal-title">Add User</h3>
</div>
<div class="modal-body">
    <form>
        <div ng-show="errorUserDialog">
            <div class="alert alert-danger" role="alert">{{errorUserDialog}}</div>
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="igor@2be.com.br" ng-model="newUser.email">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Igor Rodrigues Motta" ng-model="newUser.name">
        </div>
        <div style="height: 2px; background: #CCC;"></div>
        <br>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="******" ng-model="newUser.password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="******" ng-model="newUser.confirmPassword">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="newUser.isAdmin"> Is Admin?
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>