<div class="modal-header">
    <h3 class="modal-title">Delete User</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert">
        You are going to delete the user '{{user.name}} - ({{user.email}})'. Are you sure?
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>