<h1>Users</h1>
<h3 ng-show="userListError">{{userListError}}</h3>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="userItem in usersList">
        <div style="display: inline-block;">
            <h3>User:
                <small>{{userItem.name}}</small>
            </h3>
            <h4>Email:
                <small>{{userItem.email}}</small>
            </h4>
        </div>
        <div class="btn-group pull-right" role="group" aria-label="..."
             style="display: inline-block;">
            <button class="btn btn-default" ng-click="onEditClicked(userItem)">Edit</button>
            <button class="btn btn-default" ng-click="onDeleteClicked(userItem)">Delete</button>
        </div>
    </li>
</ul>
<button type="button" class="btn btn-primary" ng-click="onAddClicked()">Add User</button>
