.ying-menu-area {
    position: relative;
    background-color: #333333;
    color: #cccccc;
    padding-left: 0;
}

.ying-menu-area-vertical {
    float: left;
    width: 200px;
    min-height: 100vh;
    padding-top: 30px;
}

.ying-menu-area-horizontal {
    width: 100%;
    height: 40px;
}

.ying-menu-area ul {
    padding-left: 0;
}

.ying-menu-area .btn:hover {
    color: #cccccc;
}

.ying-menu {
    list-style-type: none;
    vertical-align: top;
}

.ying-menu ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.ying-menu li {
    line-height: 3em;
    cursor: pointer;
}

.ying-menu li div {
    display: inline-block;
    width: 90%;
    padding-left: 16px;
}

.ying-selectable-item:hover {
    background-color: #555555;
}

.ying-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ying-menu-icon {
    margin-right: 10px;
}

.ying-menu-active-indicator {
    float: right;
    color: #dddddd;
    margin-right: 0;
    margin-top: 8px;
}

.ying-group-indicator-left {
    float: right;
    color: #ddd;
    margin-right: 2px;
    margin-top: 15px;
}

.ying-subitem-section {
    padding-left: 16px;
}

.ying-menu-layout-button {
    margin: 12px;
    padding: 2px 8px;
    color: #bbb;
    background-color: #333;
    border: 1px solid #999999;
}

.ying-layout-button-horizontal {
    position: absolute;
    top: -6px;
    right: 10px;
}

.ying-item-horizontal {
    display: inline-block;
    width: 165px !important;
    margin-left: 20px;
    margin-top: 5px;
    line-height: 1.5em !important;
}

.ying-popup-menu {
    position: absolute;
    z-index: 1000;
    background-color: #333333;
    width: 200px;
    padding-left: 0;
}

.ying-fade-in-animation {
    -webkit-transition: linear all 0.5s;
    -moz-transition: linear all 0.5s;
    -ms-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    transition: linear all 0.5s;
}

.ying-fade-in-animation.ng-hide {
    opacity: 0;
}