<div class="ying-user-profile-small pull-right" style="vertical-align: middle;">
    <div style="display: inline-block; text-align: center;">
        <img class="pull-left" style="margin-right: 10px;" alt="user image" ng-src="{{ profilePicture }}"/>
    </div>
    <div style="display: inline-block; margin-right: 10px;">
        <h4>
            {{name}}
            <br>
            <small>{{email}}</small>
        </h4>

    </div>
    <div class="dropdown pull-right" style="display: inline-block">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuUserProfileSmall"
                data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuUserProfileSmall">
            <li ng-repeat="menuOpt in profileMenuOptions">
                <a role="menuitem" ng-click="menuOpt.onClick(menuOpt)">{{menuOpt.title}}</a>
            </li>
        </ul>
    </div>
</div>