<div class="ying-user-profile" ng-if="isMenuVertical && !isMenuButtonVisible">
    <div style="width: 100%; text-align: center;">
        <img alt="user image" ng-src="{{ profilePicture }}"/>
    </div>
    <div style="margin-left: 10px;">
        <h4>
            {{name}}
            <br>
            <small>{{email}}</small>
        </h4>
    </div>
    <div class="dropdown" style="text-align: right; width: 100%;">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenuUserProfile"
                data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuUserProfile">
            <li ng-repeat="menuOpt in profileMenuOptions">
                <a role="menuitem" ng-click="menuOpt.onClick(menuOpt)">{{menuOpt.title}}</a>
            </li>
        </ul>
    </div>
</div>