<div class="ying-title-bar">
    <div class="row">
        <div class="ying-logo-area col-sm-6">
            <img class="ying-icon" ng-src="{{ iconFile }}"/>

            <div class="ying-title-area">
                <p class="ying-logo-title">{{ title }}</p>

                <p class="ying-logo-subtitle">{{ subtitle }}</p>
            </div>

            <div ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()" class="ying-collapsed-menu pull-right">
                <button type="button" class="btn ying-nav-button">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        </div>
        <div class="ying-right-side-controls col-sm-6">
            <ying-user-profile-small></ying-user-profile-small>
        </div>
    </div>
</div>

<div class="ying-menu-area" ng-show="isMenuVisible"
     ng-class="{'ying-menu-area-vertical': isMenuVertical, 'ying-menu-area-horizontal': !isMenuVertical}">
    <ying-user-profile>

    </ying-user-profile>
    <ng-transclude>

    </ng-transclude>
</div>

<div ng-view class="ying-view" ng-class="{'ying-view-full-width': !isMenuVertical || !isMenuVisible}">

</div>